:root {
  --purple-background-color: #FF90E8;
  --yellow-background-color: #FFC900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* MAIN CONTAINER */
.home-container{
  display: grid;
  grid-template-columns: 1fr;
}